* {
  box-sizing: border-box;
}

body {
  background-color: #dedede;
  font-family: 'Noto Sans', sans-serif;
  /*padding: 20px;*/
}
.card {
  background-color: white;
}
.block-1 {
  height: 300px;
  background-color: #BB1313;
}
.block-2 {
  height: 300px;
  background-color: green;
}
.profile-background {
  height: 120px;
  background-image: url('../img/001037819.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-header {
  height: 50px;
  position: relative;
  background-color: white;
  margin-bottom: 20px;
}
.main__text {
  display: inline-block;
}
.main__right-panel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 230px;
}
.main__menu ul {
  display: inline-block;
  padding: 0;
    margin: 0;
}
.main__menu ul li {
  display: inline-block;
  margin-right: 10px;
  border-bottom: 2px solid transparent;
}
.main__menu ul li:hover {
  border-bottom: 2px solid #087de1;
}
.main__menu {
  padding-top: 15px;
}
.menu__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.menu__item a {
  display: block;
}
.menu__icon {
  display: inline-block;
}
.menu__title {
  display: inline-block;
}
.main__icon {
  position: absolute;
  color: #087de1;
  top: 10px;
  left: 50%;
  font-size: 20px;
}
.main__search {
    display: inline-block;
}
.main__search input {
  border-radius: 18px;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
  border: 2px solid grey;
  height: 33px;
}
.main__search input:focus {
  border: 2px solid #087de1;
}
.main__avatar {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 80px;
  overflow: hidden;
  border: 4px solid white;
  background-color: white;
  margin-top: 5px;
}
.main__avatar img {
  max-width: 100%;
  height: auto;
}
.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 80px;
  overflow: hidden;
  margin-top: -50px;
  border: 4px solid white;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}
.profile-avatar img {
  max-width: 100%;
  height: auto;
}
.profile-title {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
}
.profile-description {
  font-family: "Noto Serif", serif;
  font-style: italic;
  text-align: center;
}
.stats {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 992px) {
  .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .stats-item {
    margin-bottom: 10px;
  }
}
.stats-title {
  font-size: 14px;
  color: #8cb0bb;
}
.stats-count {
  color: #087de1;
  font-size: 22px;
  font-weight: 600;
}
.tweet-card {
  padding: 1.25rem;
  border-radius: 0;
  border-bottom: 0;
}
.tweet-card:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 0 0.25rem 0.25rem;
}
.card-title-only {
  padding: 1.25rem;
  border-radius: 0;
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
}
.tweet-card--rounded-top {
  border-radius: 0.25rem 0.25rem 0 0;
}
.like,
.tweetLike {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 10px;
}
.like p {
  margin: 0;
}
.fa-heart {
  font-size: 16px;
  margin-left: 5px;
  padding-top: 2px;
}
.active {
  color: red;
}
.tweet-date {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 800;
}
.tweet-text p {
  margin-bottom: 0;
  font-size: 20px;
}
.tweet-text a {
  color: #54a7ef;
}
.font-size-small p {
  font-size: 16px;
}
.font-size-medium p {
  font-size: 20px;
}
.font-size-large p {
  font-size: 24px;
}
.footer {
  color: #538994;
  text-align: center;
  margin-top: 20px;
}
.footer a {
  font-weight: 800;
  color: #25a5bf;
}
.footer p {
  line-height: 2;
  padding-bottom: 16px;
}
.footer .fa-heart {
  color: #ce2222;
}
.tweet-card {
  transition: background-color 4s ease-out;
}
.new {
  background-color: #d4f5be;
}

